body {
  background-color: rgb(213, 196, 236);
  margin: 50px;
}

span {
  float: right;
}

#header {
  text-align: center;
  color: rgb(58, 7, 103);
  background-color: rgb(161, 101, 237);
  border: 3px solid rgb(85, 12, 149);
  border-radius: 25px;
  margin-right: 10px;
  line-height: .5em;
}

#header h1 {
  line-height: .8em;
}

p {
  line-height: 1.5em;
}

ul li {
  line-height: 1.5em;
}

ul ul li {
  line-height: 1.5em;
}
